@*@model MovieSite.Models.Movie*@
@model List<MovieSite.Models.Movie>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    This is the index page

    @foreach (var item in Model)
    {
        <br/>
        <h4>Movie title: </h4>
        <br/>

                    @Html.DisplayFor(modelItem => item.Title)
        <br/>
        <h4>Movie release date: </h4>
        <br/>

                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                
        <br />
    }
    </body>
</html>
